<?xml version="1.0" encoding="UTF-8"?>
<!-- Hibernate file-based configuration document. -->

<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<!-- An instance of this document contains property settings and references 
	to mapping files for a number of SessionFactory instances to be listed in 
	JNDI. -->
<hibernate-configuration>
	<session-factory>
		<!-- db credentials -->
		<property name="hibernate.connection.driver_classification">
		oracle.jdbc.OracleDriver</property>
		
		<property name="hibernate.dialect">
		org.hibernate.dialect.Oracle10gDialect</property>

		<property name="hibernate.connection.url">
		jdbc:oracle:thin:@thomas.cs8ihlmwvzfx.us-east-1.rds.amazonaws.com:1521:thomas</property>
		
		<property name="hibernate.connection.username">
		thomas</property>

		<property name="hibernate.connection.password">
		Tarmchair2t$</property>

		<property name="hibernate.connection.pool_size">
		2</property>

		<property name="show_sql">
		true</property>

		<property name="hibernate.hbm2ddl.auto">
		create</property>
		
		<!-- Mappings -->
		<mapping resource="flower.hbm.xml" />
		<mapping class="com.revature.models.Beehive" />
		
	</session-factory>
</hibernate-configuration> 