<!-- 
<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c"%>
<%@ include file="../common/header.jspf"%>
<%@ include file="../common/navigation.jspf"%>
<%@ include file="../common/footer.jspf"%>
 -->
<!DOCTYPE html>
<head>
    <title>Project-1</title>
</head>
<style>

</style>
<link href="webjars/bootstrap/3.3.6/css/bootstrap.min.css"
	rel="stylesheet" />
    <link  href="proj1style.css" rel="stylesheet" /> 
  <link  href="favicon.ico" rel="shortcut favicon"  /> 
  <!-- 
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
   -->
<body> 
	<nav class="navbar navbar-default"> 
	<ul class="nav navbar-nav">
	<li>	<a href="/dailytech/" class="navbar-brand center"><em>Project-1</em>
		</a>
	</li> 
			<li class="active"><a href="/dailytech/">HOME</a></li>
			<li><a href="/dailytech/viewer.html">VIEWER</a></li> 
		</ul>

		<ul class="nav navbar-nav navbar-right log">
			<li><a href="/dailytech/login.html">Sign Out</a></li>
		</ul> 
	</nav> 
   <div class="container">    
    <h3>ADMIN PAGE</h3> 
   <div id="info" class="row">
<div class="col col-xs-6">
     <h4 id="text">Task Number</h4>
    <input id="taskId" type="number">
    <h4 id="text">curr UserId</h4>
    <input id="currUserId" type="number">
    <h4 id="text">time Stamp</h4>
    <input id="timeStamp" type="text"> 
    <button class="btn btn-primary" onclick="addTask()">Add</button>
 
 </div>
<div class="col col-xs-6">
<form method="POST" action="/add-todo.do">
<fieldset class="form-group">
	<label>Task #</label> <input name="taskId" type="number"
		class="form-control" /> <br />
</fieldset>
<fieldset class="form-group">
	<label>User ID</label> <input name="currUserId" type="number"
		class="form-control" /> <br />
</fieldset>
<fieldset class="form-group">
	<label>Date</label> <input name="timestamp" type="text"
		class="form-control" /> <br />
</fieldset>   
<fieldset class="form-group">
	<label>Todo</label> <input name="todo" type="text"
		class="form-control" /> <br />
</fieldset>
<fieldset class="form-group">
	<label>Category</label> <input  name="category" type="text"
		class="form-control" /> <br />
</fieldset> 
   <input name="add" type="submit" class="btn btn-success" value="Submit" />
</form>
</div>

    </div> 
    </div><!-- end of container -->
    
    <footer class="footer"> 
   <div>
    <p>Project 1 Footer - Revature<br />
    <small>Copyright &copy; 2020 &nbsp;</small></p>
   </div>
</footer>
</body>
<script>


    let addTask = function () {
        let d = document.getElementById("taskId");
        let taskId = ""; // declare & erase subsequent
        taskId += d.value; // append

        let dn = document.getElementById("currUserId");
        let currUserId;  // just declare
        currUserId = dn.value; // overwrite

        let dt = document.getElementById("timeStamp");
        let timeStamp;
        timeStamp = dt.value;

        let xhttp = new XMLHttpRequest();

        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {

                console.log("readyState: " + this.readyState + ", status: " + this.status);
            }
        }

        xhttp.open("POST", "http://localhost:8090/dailytech/addTask.do", true);

        xhttp.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
        xhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');

        xhttp.send("taskId=" + taskId + "&currUserId=" + currUserId + "&timeStamp=" + timeStamp);
        console.log("Great, you sent taskId: #" + taskId + " submitted by: *" + currUserId + " on date: *" + timeStamp);


    }  
</script>

	<script src="webjars/jquery/1.9.1/jquery.min.js"></script>
	<script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</HTML>